<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>VADER Dashboard | </title>

    {% load staticfiles %}

    {% block imports-css %} {% include "networkviz/_imports-css.html" %} {% endblock %}

</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                {% block left-panel %} {% include "networkviz/_left-panel.html" %} {% endblock %}
            </div>

            <!-- top navigation -->
            {% block top-navbar %} {% include "networkviz/_navbar.html" %} {% endblock %}
            <!-- /top navigation -->

            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3>'<span id="model_name_title">IEEE123</span>' Live Dashboard
                              <small><a href="#">(<u>Change Model</u>)</a></small></h3>
                        </div>

                        <div class="title_right">
                            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search for...">
                                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- top tiles -->
                    {% block tiles %} {% include "networkviz/charts/_tiles.html" %} {% endblock %}
                    <!-- /top tiles -->


                    <div class="clearfix"></div>


                    <div class="row">
                        {% block linechart %} {% include "networkviz/charts/_linechart.html" %} {% endblock %}
                    </div>

                    <br />

                    <!-- Basic Cards -->
                    <div class="row">
                        {% block cards %} {% include "networkviz/charts/_cards.html" %} {% endblock %}
                    </div>
                    <!-- /Basic Cards -->

                    <!-- Mini Charts -->
                    <div class="row">
                        <div class="col-md-12">
                            {% block minicharts %} {% include "networkviz/charts/_minicharts.html" %} {% endblock %}
                        </div>
                    </div>
                    <!-- /Mini Charts -->


                    <!-- Knobs -->
                    <div class="row">
                        {% block inputknob %} {% include "networkviz/charts/_inputknob.html" %} {% endblock %}
                    </div>
                    <!-- /Knobs -->

                    <!-- Sliders -->
                    <div class="row">
                        {% block sliders %} {% include "networkviz/charts/_sliders.html" %} {% endblock %}
                    </div>
                    <!-- /sliders -->

                    <!-- Simple Form -->
                    <div class="row">
                        {% block form %} {% include "networkviz/charts/_form.html" %} {% endblock %}
                    </div>
                    <!-- /form Simple Form -->

                    <!-- Complicated Form -->
                    <div class="row">
                        {% block advanced-form %} {% include "networkviz/charts/_advanced-form.html" %} {% endblock %}
                    </div>
                    <!-- /form Complicated Form -->

                    <!-- Charts in Cards -->
                    <div class="row">
                        {% block chart-cards %} {% include "networkviz/charts/_chart-cards.html" %} {% endblock %}
                    </div>
                    <!-- /charts in cards -->

                </div>
            </div>
            <!-- /page content -->

            <!-- footer content -->
            {% block footer %} {% include "networkviz/_footer.html" %} {% endblock %}
            <!-- /footer content -->
        </div>


        <!-- right slidein panel -->
        {% block rightbar %} {% include "networkviz/_rightbar.html" %} {% endblock %}
        <!-- /right slidein panel -->

    </div>

    {% block imports-js %} {% include "networkviz/_imports-js.html" %} {% endblock %}
    {% block linechart-js %} {% include "networkviz/charts/_linechart.js" %} {% endblock %}
    {% block minicharts-js %} {% include "networkviz/charts/_minicharts.js" %} {% endblock %}
    {% block form-js %} {% include "networkviz/charts/_form.js" %} {% endblock %}
    {% block inputknob-js %} {% include "networkviz/charts/_inputknob.js" %} {% endblock %}
    {% block sliders-js %} {% include "networkviz/charts/_sliders.js" %} {% endblock %}
    {% block advanced-form-js %} {% include "networkviz/charts/_advanced-form.js" %} {% endblock %}
    {% block chart-cards-js %} {% include "networkviz/charts/_chart-cards.js" %} {% endblock %}

</body>

</html>
