{% extends "vader/base.html" %}
{% load staticfiles %}

{% block style %}
<style type="text/css">
#map
{
    width: 100%;
    height:100%;
    display: block;
}
#map-holder
{
    height:50%;
    width:50%;
}
#graph0{
	height: 250px;
	width: 80%;
}
#graph1{
	height: 250px;
	width: 80%;
}
#graph2{
	height: 250px;
	width: 80%;
}
</style>
{% endblock %}

{% block content %}
{% include "vader/_navbar-logo.html" %}
<div class="jumbotron text-center" style="padding: 35px">
  <p>This demo presents results of a disaggregation scheme that uses measurements obtained at the top of the feeder to disaggregate solar generation in each household.</p>
</div>
<div class="container">
	  <div class="col-md-6 fill" id="map-holder">
	    <div id="map"></div>
	  </div>
    <div class="col-md-6">
    	<div class="container" id="graph0"></div>
    	<div class="container" id="graph1"></div>
    	<div class="container" id="graph2"></div>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static 'js/jquery.flot.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.flot.time.js' %}"></script>
<script language="javascript" type="text/javascript">
// MAP to bind
var map = L.map('map').setView([37.42573, -122.1896], 13);

L.tileLayer(
    'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
    {maxZoom: 18}).addTo(map);


//Handle click on polygon
// var onPolyClick = function(event){
//     //callFancyboxIframe('flrs.html')
//     var label = event.target.options.label;
//     //var content = event.target.options.popup;
//     //var otherStuff = event.target.options.otherStuff;
//     //alert("Clicked on polygon with label:" +label +" and content:" +content +". Also otherStuff set to:" +otherStuff);
//     window.location.href = '/vader/PVDisagg/'+label

// };


var regions = [{
    "type": "Feature",
    "properties": {"region": "1"},
    "geometry": {
        "type": "Polygon",
        "coordinates": [[
        [-122.1896, 37.42181],
        [-122.3896, 37.42348],
        [-122.4896, 37.53261],
        [-122.1896, 37.42181]
        ]]
    }
}, {
    "type": "Feature",
    "properties": {"region": "2"},
    "geometry": {
        "type": "Polygon",
        "coordinates": [[
        [-122.1896, 37.32181],
        [-122.3896, 37.32348],
        [-122.4896, 37.43261],
        [-122.1896, 37.32181]
        ]]
    }
}];

L.geoJSON(regions, {
    style: function(feature) {
        switch (feature.properties.region) {
            case '1': return {color: "#ff0000"};
            case '2':   return {color: "#0000ff"};
        }
    },
    onEachFeature: function onEachFeature(feature, layer) {

	layer.on('click', function (e) {
	  // e = event
	  console.log(feature.properties.region);
	  // You can make your ajax call declaration here
	  //$.ajax(...
	  window.location.href = '/vader/PVDisagg/'+feature.properties.region
	  });
	},
    }).addTo(map);




//poly.on('click', onPolyClick);




// //Create polygon
// var popup_flor ="5";
// var content_flor ="MyContent";
// var poly = new L.Polygon([
//         [37.42181, -122.1896],
//         [37.42348, -122.3896],
//         [37.53261, -122.4896],
//         [37.42181, -122.1896]
//   ], {'label': popup_flor, 'popup': content_flor, 'otherStuff': 'abc123'});
// poly.on('click', onPolyClick);

// //Add polygon to map
// poly.addTo(map);


console.log("{{ data }}")

// // SOCKET COMMUNICATION BETWEEN PYTHON AND VISUALIZATION
// var port = 9000;
// var host = "ws://127.0.0.1:"+port; // No need to change this if using localhost


// //Declare Variables
// var socket;
// var totalLength=60;


function drawChart(dat,graphName) {
    var plotarea = $('#graph'+graphName);


    $.plot( plotarea , dat, { xaxis: {
					//mode: "time",
				}
			});

};

function updateData(existingData,newData,totalLength) {
	for(var i=0; i<existingData.length; i++){
		//console.log(existingData[i].data)
		//console.log(newData[i].data)
		for(elem in newData[i].data){
			console.log(existingData[i].data.length)
			if(existingData[i].data.length==totalLength) {
				existingData[i].data.shift()
			}
			existingData[i].data.push(newData[i].data[elem])
		}
		//console.log(existingData[i].data)
	}

	return existingData;

};
var receivedData={{ data|safe }};
console.log(receivedData)
//receivedData = JSON.parse(data)
   //dat['label']
   //console.log(msg.data)
   //console.log("Message Received: "+msg.data);
   for(var i=0; i<2; i++){
		dat=receivedData[i]
   		drawChart(dat,String(i))
   }


// function init() {
// 	try {
// 		socket = new WebSocket(host);
// 		console.log('WebSocket status '+socket.readyState);
// 		socket.onopen    = function(msg) {
// 							   console.log("Welcome - status "+this.readyState);
// 						   };
// 		socket.onmessage = function(msg) {
// 							   receivedData = JSON.parse(msg.data)
// 							   //dat['label']
// 							   //console.log(msg.data)
// 							   //console.log("Message Received: "+msg.data);
// 							   for(var i=0; i<2; i++){
// 								existingData=$("#graph"+String(i)).data()['plot']
// 								if(existingData==null){
// 									console.log('gotcha!')
// 							   		dat=receivedData[i]
// 								} else {
// 									//Get existing data, update and redraw
// 									existingData=$("#graph"+String(i)).data()['plot'].getData()
// 									dat=updateData(existingData,receivedData[i],totalLength)


// 								}
// 							   	drawChart(dat,String(i))

// 							   }
// 							 //  console.log(dat[0]);
// 							//   dat=dat[0]
// 							//console.log("Separate Values: "+explodedValues);
// 							//	drawChart("0")

// 							//convert strings to numbers
// 							//for(var i=0; i<explodedValues.length; i++) { explodedValues[i] = +explodedValues[i]; }

// 							//drawVisualization();

// 						   };
// 		socket.onclose   = function(msg) {
// 							   console.log("Disconnected - status "+this.readyState);
// 						   };
// 	}
// 	catch(ex){
// 		console.log(ex);
// 	}

// }
// init()

// function quit(){
// 	if (socket != null) {
// 		console.log("Close Socket");
// 		socket.close();
// 		socket=null;
// 	}
// }

// function reconnect() {
// 	quit();
// 	init();
// }

</script>
{% endblock %}
