{% extends "vader/base.html" %}
{% load staticfiles %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/map.css' %}" />

<style type="text/css">
/*.map { width: 100%; height: 100%; float: left; margin-right: 0%;}
.lastmap { margin-right: 0; float: right; }*/
#map1
{
    width: 100%;
    height:100%;
    display: block;
}
#map-holder
{
    margin-top:50px;
    height:50%;
    width:100%;
}
#graphAggregateLoad{
	height: 33%;
	width: 100%;
}
#graphSolarProxy
{	height: 33%;
    width: 100%;
}
#graph0{
	height: 33%;
	width: 100%;
}
#graph1{
    height: 33%;
    width: 100%;
}
#graph2{
    height: 33%;
    width: 100%;
}
#graph3{
    height: 33%;
    width: 100%;
}

.card {
  font-size: 1.2em;
}

</style>
{% endblock %}

{% block content %}
{% include "vader/_navbar-logo.html" %}
<div class="jumbotron text-center" style="padding: 35px; padding-bottom: 0px; margin-bottom: 0px;">
  <p>This demo presents results of a disaggregation scheme that uses measurements obtained at the top of the feeder to disaggregate solar generation in each household.</p>
  <div class="container">
  <img class="card-img-top" src="{% static 'images/pvdisagg.png' %}" alt="PV DisAgg" width="80%">
  <br><br>
  <p>Click on the highlighted regions to populate the graphs below</p>

  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 fill" id="map-holder">
        <div id="map1"></div>
    </div>
  </div>
</div>
<div class="container">
         <div class=" col-lg-6 col-md-6 col-sm-6 ">
        <h2>Inputs</h2>

            <div class="card text-center" style="background-color: #fff; padding: 15px; border-radius: 15px;">
            <p>Aggregate Net Load Measurement</p>
              <div class="container" id=graphAggregateLoad width="100%"></div>
            </div>
            <div class="card text-center" style="background-color: #fff; padding: 15px; border-radius: 15px;">
             <p><span class="glyphicon glyphicon-sunglasses"></span> Solar Proxy</p>
              <div class="container" id=graphSolarProxy width="100%"></div>
            </div>
        </div>

    <div class="col-lg-6 col-md-6 col-sm-6">
        <h2>Outputs</h2>
        <div class="card text-center" style="background-color: #fff; padding: 15px; border-radius: 15px;">
            <p><span class="glyphicon glyphicon-home"></span> Home 1</p>
    	   <div class="container" id="graph0"></div>
        </div>
        <div class="card text-center" style="background-color: #fff; padding: 15px; border-radius: 15px;">
        <p><span class="glyphicon glyphicon-home"></span> Home 2</p>
    	<div class="container" id="graph1"></div>
        </div>
        <div class="card text-center" style="background-color: #fff; padding: 15px; border-radius: 15px;">
        <p><span class="glyphicon glyphicon-home"></span> Home 3</p>
    	<div class="container" id="graph2"></div>
        </div>
        <div class="card text-center" style="background-color: #fff; padding: 15px; border-radius: 15px;">
        <p><span class="glyphicon glyphicon-home"></span> Home 4</p>
        <div class="container" id="graph3"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static 'js/libraries/jquery.flot.js' %}"></script>
<script type="text/javascript" src="{% static 'js/libraries/jquery.flot.time.js' %}"></script>
<script type="text/javascript" src="{% static 'js/libraries/jquery.flot.resize.js' %}"></script>

<script type="text/javascript" src="{% static 'js/disagg.js' %}"></script>

<script language="javascript" type="text/javascript">

</script>
{% endblock %}
