<a class="climate-tab" data-toggle="dropdown">
    <i class="fa fa-cloud"></i>
    Climate
</a>
<ul class="dropdown-menu">
    <li>
        <div class="climate-panel">
            <div class="row row-no-gutter">
                <div class="weather-item col-md-4">
                    <h2><div class="glyphicon glyphicon-home"></div></h2>
                    <div id="climate-city">
                    </div>
                </div>
                <div class="weather-item col-md-4">
                    <h1><i class="wi wi-time-8"></i></h1>
                    <div id="climate-clock">
                    </div>
                </div>
                <div class="weather-item col-md-4">
                    <h1><i class="wi wi-thermometer"></i></h1>
                    <div id="climate-temperature">
                    </div>
                </div>
            </div>
            <div class="row row-no-gutter">
                <div class="weather-item col-md-4">
                    <h1><i class="wi wi-humidity"></i></h1>
                    <div id="climate-humidity">
                    </div>
                </div>

                <div class="weather-item col-md-4">
                    <h1><i class="wi wi-cloudy"></i></h1>
                    <div id="climate-clouds">
                    </div>
                </div>
                <div class="weather-item col-md-4">
                    <h1><i class="wi wi-barometer"></i></h1>
                    <div id="climate-pressure">
                    </div>
                </div>
            </div>
            <div class="row row-no-gutter">
                <div class="weather-item col-md-4">
                    <h1><i class="wi wi-strong-wind"></i></h1>
                    <div id="climate-wind_speed">
                    </div>
                </div>
                <div class="weather-item col-md-4">
                    <h1><i class="wi wi-wind-direction"></i></h1>
                    <div id="climate-wind_heading">
                    </div>
                </div>
                <div class="weather-item col-md-4">
                    <h1><i class="wi wi-small-craft-advisory"></i></h1>
                    <div id="climate-wind_gust">
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>
