<div class="row-no-gutter status-items">
    <!-- Name -->
    <div class="col-md-4 col-sm-4 col-xs-12 console-header">Keyword</div>
    <div class="col-md-4 col-sm-4 col-xs-12 console-header">Status</div>
    <div class="col-md-4 col-sm-4 col-xs-12 console-header">ON / OFF</div>
    <!-- Items -->
<!--     <div class="col-md-4 col-sm-4 col-xs-12 console-item">Verbose</div>
    <div class="col-md-4 col-sm-4 col-xs-12 console-item">closed</div>
    <div class="col-md-4 col-sm-4 col-xs-12 console-item">
        <label class="toggle"><input type="checkbox"><div class="slider round"></div></label>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12 console-item">Debug</div>
    <div class="col-md-4 col-sm-4 col-xs-12 console-item">closed</div>
    <div class="col-md-4 col-sm-4 col-xs-12 console-item">
        <label class="toggle"><input type="checkbox"><div class="slider round"></div></label>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12 console-item">Dumpall</div>
    <div class="col-md-4 col-sm-4 col-xs-12 console-item">closed</div>
    <div class="col-md-4 col-sm-4 col-xs-12 console-item">
        <label class="toggle"><input type="checkbox"><div class="slider round"></div></label>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12 console-item">Quiet</div>
    <div class="col-md-4 col-sm-4 col-xs-12 console-item">closed</div>
    <div class="col-md-4 col-sm-4 col-xs-12 console-item">
        <label class="toggle"><input type="checkbox"><div class="slider round"></div></label>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12 console-item">Show progress</div>
    <div class="col-md-4 col-sm-4 col-xs-12 console-item">closed</div>
    <div class="col-md-4 col-sm-4 col-xs-12 console-item">
        <label class="toggle"><input type="checkbox"><div class="slider round"></div></label>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12 console-item">Suppress repeat messages</div>
    <div class="col-md-4 col-sm-4 col-xs-12 console-item">closed</div>
    <div class="col-md-4 col-sm-4 col-xs-12 console-item">
        <label class="toggle"><input type="checkbox"><div class="slider round"></div></label>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12 console-item">Warning</div>
    <div class="col-md-4 col-sm-4 col-xs-12 console-item">closed</div>
    <div class="col-md-4 col-sm-4 col-xs-12 console-item">
        <label class="toggle"><input type="checkbox"><div class="slider round"></div></label>
    </div> -->
</div>
