{% load staticfiles %}
<nav id="navigator" class="navbar navbar-slac navbar-static-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a id="logo-title" class="navbar-brand" href="/vader" title="VADER" rel="VADER">
                <img src="{% static 'images/VaderLogo.png' %}" alt="Vader Landing" width="90%">
            </a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">lists</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            {% block tab %}{% endblock %}
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="https://www6.slac.stanford.edu/" title="stan" rel="stan" id="stan_logo">
                      <img class="header_slac_logo" src="{% static 'images/stanford.png' %}" alt="Stanford" width="150px" id="stan_logo">
                    </a>
                </li>
                    <li><a href="https://www6.slac.stanford.edu/" title="SLAC" rel="SLAC" id="logo">
                      <img src="{% static 'images/logo-slac.png' %}" alt="SLAC">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
