<a href="#" data-toggle="dropdown">
    <i class="fa fa-cloud"></i>
    Weather
</a>
<ul class="dropdown-menu">
    <li>
        <div class="weather">
            <div class="row row-no-gutter">
                <div class="weather-item col-md-4">
                    <div class="weather-icon">
                        {% include 'vader/svg/city.svg' %}
                    </div>
                    <div>
                        Bakersfield
                    </div>
                </div>
                <div class="weather-item col-md-4">
                    <h1><i class="wi wi-time-8"></i></h1>
                    <div>
                        2016-10-01 15:40
                    </div>
                </div>
                <div class="weather-item col-md-4">
                    <h1><i class="wi wi-thermometer"></i></h1>
                    <div>
                        74.3 ℉
                    </div>
                </div>
            </div>
            <div class="row row-no-gutter">
                <div class="weather-item col-md-4">
                    <h1><i class="wi wi-humidity"></i></h1>
                    <div>
                        61%
                    </div>
                </div>

                <div class="weather-item col-md-4">
                    <h1><i class="wi wi-cloudy"></i></h1>
                    <div>
                        1%
                    </div>
                </div>
                <div class="weather-item col-md-4">
                    <h1><i class="wi wi-barometer"></i></h1>
                    <div>
                        29.38 inHg
                    </div>
                </div>
            </div>
            <div class="row row-no-gutter">
                <div class="weather-item col-md-4">
                    <h1><i class="wi wi-strong-wind"></i></h1>
                    7 mph
                </div>
                <div class="weather-item col-md-4">
                    <h1><i class="wi wi-wind-direction"></i></h1>
                    157 deg
                </div>
                <div class="weather-item col-md-4">
                    <h1><i class="wi wi-small-craft-advisory"></i></h1>
                    <div>
                        0 mph
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>
