<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VADER</title>
    <!-- load files -->
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    {% block style %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
    {% block script %}{% endblock %}
</body>
</html>
