<html lang="en">
<head>
    <meta charset="utf-8">
    <title>VADER</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/climate.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/leaflet.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/weather-icons.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/toggle.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/toggle.css' %}">
    {% block style %}{% endblock %}
</head>

<body>
    <header>
            <div id="logo-title" class="header_slac_logo">
            <a href="https://www6.slac.stanford.edu/" title="stan" rel="stan" id="stan_logo">
              <img src="{% static 'images/stanford.png' %}" alt="Stanford" width="150px" id="stan_logo">
            </a>
            <a href="https://www6.slac.stanford.edu/" title="SLAC" rel="SLAC" id="logo">
              <img src="{% static 'images/logo-slac.png' %}" alt="SLAC">
            </a>

            </div>
            <div id="logo-title" class="header_vader_logo">
                <a href="/vader" title="VADER" rel="VADER" id="logo2">
                  <img src="{% static 'images/VaderLogo.png' %}" alt="Vader Landing" width=90%>
                </a>
            </div><!-- /logo-title -->

            <!-- Added Navbar Here -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div id="navbar" class="collapse navbar-collapse" style="color: #000000 !important;">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{% url 'dashboard' %}" style="color: #000000 !important;"><span class="fa fa-bar-chart"></span> Dashboard</a>
                    </li>

                    <li>
                        <a href="{% url 'map' %}" style="color: #000000 !important;"><span class="fa fa-map-marker"></span> Map</a>
                    </li>
                    <li>
                        <a href="{% url 'console' %}" style="color: #000000 !important;"><span class="fa fa-desktop"></span> Console</a>
                    </li>
                    <li>
                        {% include "vader/_climate.html" %}
                    </li>
                </ul>
                {% block extension %} {% endblock %}
            </div>

    </header> <!-- /logo-title -->

    {% block content %}{% endblock %}
    <script src="{% static 'js/jquery.min.js' %} "></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/leaflet.js' %}"></script>
    {% block script %}{% endblock %}

</body>
</html>
