<html lang="en">
<head>
    <meta charset="utf-8">
    <title>VADER</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/climate.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/leaflet.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/weather-icons.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/toggle.css' %}">
    {% block style %}{% endblock %}
</head>

<body>
    {% block content %}{% endblock %}
    <script type="text/javascript" src="{% static 'js/libraries/jquery.min.js' %} "></script>
    <script type="text/javascript" src="{% static 'js/libraries/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libraries/leaflet.js' %}"></script>

    <!-- Initial function -->
    <script type="text/javascript" src="{% static 'js/init.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/climate.js' %}"></script>
    {% block script %}{% endblock %}
</body>
</html>
