{% extends "vader/base.html" %}
{% block style %}
{% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
    {% block imports-css %} {% include "networkviz/_imports-css.html" %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/zf/dt-1.10.12/datatables.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/graph.css' %}">
{% endblock %}

{% block content %}
{% include "vader/_navbar.html" %}
<!-- Removed Navbar Import From Here -->
<div class="dashboard-container">
    <div class="row">
        <!-- page content -->
        <div class="col-md-12 right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>
                            '<span id="simulation-name">ieee123</span>' Live Dashboard
                            <small class="dropdown">
                                <a class="dropdown-toggle simulation-dropdown" data-toggle="dropdown">
                                    (Change Model)
                                </a>
                                <ul class="dropdown-menu dropdown-options">

                                </ul>
                            </small>
                        </h3>
                    </div>
                </div>

                <!-- top tiles -->
                {% block tiles %} {% include "networkviz/charts/_tiles.html" %} {% endblock %}

                <div class="clearfix"></div>

                <!-- Line Charts -->
                <div class="row">
                    {% block linechart %} {% include "networkviz/charts/_linechart.html" %} {% endblock %}
                </div>
                <br />
                <!-- Basic Cards -->
                <div class="row">
                    {% block cards %} {% include "networkviz/charts/_cards.html" %} {% endblock %}
                </div>
                <!-- Data table -->
                <div class="row">
                    <div class="col-md-12">
                        {% include "vader/meter-table.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "vader/graph.html" %}
{% endblock %}

{% block script %}
    <!-- Initial function -->
    <script type="text/javascript" src="{% static 'js/init.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/datatable.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/cards.js' %}"></script>
    <script type="text/javascript" src="http://d3js.org/d3.v3.js"></script>
    <!-- Javascript Imports (so many!) -->
    {% block imports-js %} {% include "networkviz/_imports-js.html" %} {% endblock %}
    <!-- Module Code -->
    {% block linechart-js %} {% include "networkviz/charts/_linechart.js" %} {% endblock %}
    {% block minicharts-js %} {% include "networkviz/charts/_minicharts.js" %} {% endblock %}
    {% block inputknob-js %} {% include "networkviz/charts/_inputknob.js" %} {% endblock %}
    {% block chart-cards-js %} {% include "networkviz/charts/_chart-cards.js" %} {% endblock %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/zf/dt-1.10.12/datatables.min.js"></script>
    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/graph.js' %}"></script>
{% endblock %}
