<table id="meter-table" class="display" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th>Name</th>
        <th>Status</th>
        <th>ON/OFF</th>
        <th>Demand</th>
        <th>Energy</th>
        <th>Voltage 1</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <th>Name</th>
        <th>Status</th>
        <th>ON/OFF</th>
        <th>Demand</th>
        <th>Energy</th>
        <th>Voltage 1</th>
    </tr>
    </tfoot>
    <tbody>
{% for meter in data %}
    <tr>
        <td>{{ data }}</td>
        <td>In_Service</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
    </tr>
{% endfor %}
    </tbody>
</table>
