.dashboard-container{
    padding-left: 20px;
    padding-right: 20px;
}

body{
    background: #00b3ee;
}

.dashboard_graph{
    border: 1px solid #dcdcdc;
    border-radius: 15px;
}

.datatable-panel{
    width: 100%;
    position: relative;
    display: inline-block;
    background: #ffffff;
    border: 1px solid #dcdcdc;
    border-radius: 15px;
    padding: 10px 15px 10px 15px;
}

.table-name {
    width: 20%;
}

.table-attr{
    text-align: center;
    width: 15%;
}

.table-status{
    text-align: center;
    width: 20%;
}

.table-tab{
    cursor: pointer;
}

.simulation-dropdown{
    cursor: pointer;
}

.icon{
    padding-top: 10px;
}