body{
    background: #F7F7F7;
    color: #73879C;
}

#navigator {
    margin-bottom: 0px;
    background-color: #1abb9c;
    position: fixed;
    z-index: 1000;
    width: 100%;
}

.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}