body{
    background: #F7F7F7;
    color: #73879C;
}

#navigator {
    margin-bottom: 0px;
    background-color: #1abb9c;
    position: fixed;
    z-index: 1000;
    width: 100%;
}

.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}

.header_vader_logo{
    float: left;
    padding-top: 5px;
    padding-left: 20px;

}
.header_slac_logo{
    float: right;
    padding-top: 30px;
    padding-right: 20px;
}

#stan_logo{
    width: 150px;
    padding-top: 5px;
    padding-right: 20px;
}
header{
    height:100px;
    padding-bottom: 20px;
    background-color: #8C1515;
}