.tabordion {
  color: #333;
  display: block;
  font-family: arial, sans-serif;
  margin: auto;
  position: relative;
  width: 80%;
  overflow:auto
}

.tabordion input[name="sections"] {
  visibility: hidden;
  height: 0px;
  /*left: -9999px;
  position: absolute;
  top: -9999px;*/
}

.tabordion section {
  display: block;
}

.tabordion section label {
  background: #ccc;
  border:1px solid #fff;
  cursor: pointer;
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  padding: 7px 15px;
  position: relative;
  width: 180px;
  z-index:100;
}

.tabordion input[name="sections"]:checked + label {
  background: #eee;
  color: #bbb;
}



@media (max-width: 533px) {

  .tabordion {
    width: 100%;
  }

  .tabordion section label {
    font-size: 1em;
    width: 160px;
  }

}


@media (max-width: 768px) {
  .tabordion {
    width: 96%;
  }
}


@media (min-width: 1366px) {

  .tabordion {
    width: 70%;
  }
}
