  <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="tile-stats">
      <div class="icon"><i class="fa fa-bolt"></i>
      </div>
      <div class="count total-load">
      </div>
      <h3>Total Loads</h3>
    </div>
  </div>
  <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="tile-stats">
      <div class="icon"><i class="fa fa-home"></i>
      </div>
      <div class="count total-house">
      </div>
      <h3>Total Houses</h3>
    </div>
  </div>
  <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="tile-stats">
      <div class="icon"><i class="fa fa-dot-circle-o"></i>
      </div>
      <div class="count total-node">
      </div>
      <h3>Total Nodes</h3>
    </div>
  </div>
  <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="tile-stats">
      <div class="icon"><i class="fa fa-exclamation-circle"></i>
      </div>
      <div class="count">0</div>
      <h3>Network Warnings</h3>
    </div>
  </div>
