<!-- top tiles -->
<div class="row tile_count">
  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-user"></i> Power Generation</span>
      <div class="count"><span class="generation-stat count"></span> <small><small><small>kW</small></small></small></div>
    <span class="count_bottom generation-inc"></span>
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-user"></i> Demand</span>
      <div class="count"><span class="demand-stat count"></span> <small><small><small>kW</small></small></small></div>
    <span class="count_bottom demand-inc"></span>
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-clock-o"></i> Average Efficiency</span>
      <div class="count green"><span class="efficiency-stat count"></span> <small><small><small>%</small></small></small></div>
    <span class="count_bottom efficiency-inc"></span>
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-user"></i> Generation High</span>
      <div class="count"><span class="max-generation count"></span> <small><small><small>kW</small></small></small></div>
    <span class="count_bottom max-generation-time"></span>
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-user"></i> Generation Low</span>
      <div class="count"><span class="min-generation count"></span> <small><small><small>kW</small></small></small></div>
    <span class="count_bottom min-generation-time"></span>
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-user"></i> Network Healthy</span>
    <div class="count">99 <small><small><small>%</small></small></small></div>
    <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>3% </i> From last week</span>
  </div>
</div>
<!-- /top tiles -->
